html {
    height: 100%;
}

body {
    box-sizing: border-box;
    margin: 0;
    background-image: linear-gradient(to bottom, #ca1ab8 , #3c87d184, rgb(81, 173, 234));
    background-repeat: no-repeat;
    background-attachment: fixed;
   
}

.main-container {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    
}

.left-container {
    margin-left: 50px;
    width: 100vw;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.right-container {
    margin: 30px;
    background-color: white;
    min-height: 60vh;
    width: 70%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.right-container input:focus {
    outline: none;
}

.warning {
    margin: 10px 0 10px 0px;
    text-align: center;
    width: 100%;
    height: 20px;
    visibility: hidden;
    color: darkred;
}

.form-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container input {
    height: 30px;
    width: 30vw;
}

.form-container input:first-child {
    margin-top: 30px;
}

.form-container .info-mensagem {
    height: 100px;
}

.confirmar-btn {
    margin-bottom: 30px;
    width: 200px;
    height: 50px;
    border-style: none;
    background-color: #3CCC87;
    color: white;
    border-radius: 5px;
}

.warning-default {
    margin-top: 10px;
}

.info.mensagem {
    height: 20vh;
}

@media (max-width: 400px) {

    .main-container {
        margin: 0;
        text-align: center;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
        .left-container {
            margin: 0;
            width: 100vw;
            height: 100%;
            margin-bottom: 50px;
        }

        .left-container h1, p{
            padding: 10px;
        }

        .form-container {
            width: 100vw;
            display: flex;
            height: 50%;
         }

         .right-container {
            margin: 0;
            width: 90vw;
            height: 50%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 20px;
         }

        

    .form-container input {
        width: 70vw;
        height: 3vh;
    }

    .info.mensagem {
        height: 7vh;
    }

    .confirmar-btn {   
        width: 130px;
        height: 30px;
        border-style: none;
        background-color: #3CCC87;
        color: white;
        border-radius: 5px;
    }

}